/* Footer styling */
.footer-items{
    display: flex;
    background-color:#893232;
    bottom: 0;
    position: absolute;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    padding:0 100px;

    
}
.footer-web-logo{
    display: flex;
    flex-direction: column;
}
.footer-items-details{
    display: flex;
    
}
