/* Footer styling */
footer {
    border-bottom: 2px solid rgba(234, 231, 231, 0.196);
}


.footer-items {
    /* display: flex; */
    /* background-color: #893232; */
    /* bottom: 0; */
    /* position: absolute; */
    /* width: 100%; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 0 6rem;
}

.copyright {
    color: rgba(234, 231, 231, 0.584);
}

.social icon {}