@import url('https://fonts.googleapis.com/css2?family=Niramit&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  /* font: inherit; */
  font-family: 'Niramit', sans-serif;
  overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  /* For Safari */
}